body{
    background-color: white;
}

.section4{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #c4232b;
    width: 100%;
    height: 11%;
    display: flex;
   
}

.img7{
    width:15%;
    height:80%;
}

.section10{
    
    width:100%;
    height: 900px;
    padding-top:10%;
}
.section10.para1{
    font:bold;
    padding-top:40%;
    font-family: "nevis-bold", sans-serif;
    
}

.section11{
    width:100%;
    height:600px;
    background-color: #c4232b;
}

.para2{
    color: white bold;
    text-align: center;
    font:bold;
    font-size:30px;
    padding-top:10%;
}

.section12{
    width:100%;
    height:700px;

}


.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }

  .p7{
    color: #c4232b;
    font:10px;
  }

